<!DOCTYPE html>
<html>
<head>
	<title>Booking Logs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container mt-5">
		<h1>Booking Logs</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Class Name</th>
					<th>Student ID</th>
					<th>Study Time</th>
					<th>Time Spent</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>COEN 6311</td>
					<td>Qian Sun 40258305</td>
					<td>2023-04-01 09:00:00</td>
					<td>2 hours</td>
				</tr>
				<tr>
					<td>COEN 6311</td>
					<td>Molood Sharifianzadeh 40185127</td>
					<td>2023-04-01 13:00:00</td>
					<td>3 hours</td>
				</tr>
				<tr>
					<td>COEN 6311</td>
					<td>Hasti Ghader Azad</td>
					<td>2023-04-01 14:00:00</td>
					<td>1 hour</td>
				</tr>
                <tr>
                    <td>ENCS 6161</td>
                    <td>Behnaz Montazeri 40157492</td>
                    <td>2023-04-02 19:00:00</td>
                    <td>2 hours</td>
                </tr>
                <tr>
                    <td>ENCS 6161</td>
                    <td>Shaghayegh Ghasemi 40232724</td>
                    <td>2023-04-03 10:00:00</td>
                    <td>2 hours</td>
                </tr>
                <tr>
                    <td>ENCS 6161</td>
                    <td>Pegah Shahbazi Davani Zadeh 40185262</td>
                    <td>2023-04-03 15:00:00</td>
                    <td>2 hours</td>
                </tr>
                <tr>
                    <td>ENCS 6161</td>
                    <td>Kheirkhah Mohamadsadegh</td>
                    <td>2023-04-04 08:00:00</td>
                    <td>5 hours</td>
                </tr>
			</tbody>
		</table>
	</div>
</body>
</html>